node_modules
.next
out
.env
.env.local
prisma/*.db
prisma/*.db-journal
prisma/dev.db
prisma/dev.db-journal
*.log
.DS_Store
tsconfig.tsbuildinfo

# User uploads
public/uploads/*
!public/uploads/.gitkeep
